In [5]:
import pandas as pd
import pickle

In [8]:
# Replace 'file.pkl' with your filename
with open('mytrace.pickle', 'rb') as f:
    mytrace = pickle.load(f)

In [9]:
df1 = pd.DataFrame(mytrace[0][0], 
                   # columns=names
                  )  # samples from prior

In [10]:
df1

            0         1
0    1.118716  0.604808
1    0.833902  1.085541
2    2.006823  0.637469
3    1.253362  0.860574
4    1.457948  0.978516
..        ...       ...
495  1.351728  1.082545
496  0.923121  1.155041
497  1.180035  0.541703
498  1.213776  0.950779
499  1.741157  0.479162

[500 rows x 2 columns]

In [12]:
type(mytrace)

list

In [13]:
len(mytrace)

11

In [15]:
len(mytrace[0])

6